/*
 * Selects all html and body elements (which there can be only 1 each!).
 */
html,body {
	margin: 0;
	padding: 0;
	height: 100%; 
	font-family: arial, sans-serif;
	font-size: small;
	background-color: #FFF5E9;
}

#TitleDiv {
	text-align: center;
	font-size: 40px;
	height: 50px;
}

#threeDiv{
	width: 75%;
	height: 90%;
	float: right;
}
#lhs {
	width: 25%;
	height: 90%;
	float: left;
}

#description {
	width: 100%;
	height: 25%;
}

#raphDiv {
	width: 100%;
	height: 75%;
}

